# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Streamlit cache
.streamlit/

# Node modules (if any frontend JS)
node_modules/

# OS files
.DS_Store
Thumbs.db